.success-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.success-page h1 {
    color: #4CAF50;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.success-page p {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 40px;
}

.success-page button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.success-page button:hover {
    background-color: #45a049;
}
