.user-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
.user-detail-banner {
  width: 100%;
  height: 300px;
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background-image: url('https://s2.loli.net/2023/05/16/Bk69gPfZESthlX5.png'); 
  background-size: cover; /* Cover the entire width of the container */
  background-position: center;  
  background-repeat: no-repeat;  
}

.user-detail-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user-detail-info .user-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.user-detail-info p {
  font-size: 18px;
  margin-bottom: 10px;
}

.user-submitted-resources {
  margin-top: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.user-submitted-resources h2 {
  margin-bottom: 10px;
  color: #333;
  font-size: 24px;
}

.user-submitted-resources .resource-banner {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.user-detail-info button {
  margin: 10px;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: #FFF;
  background-color: #787878; /* change this to your preferred color */
  width: 80%;
  cursor: pointer;
}
