.auth-container {
    width: 90vw;
    padding: 8% 0 0;
    margin: auto;

    @media (min-width: 768px) {
        /* width: 30vw; */
        width: 600px;
    }
  }
  
  .auth-container .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .auth-container .form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .auth-container .form button {
    text-transform: uppercase;
    outline: 0;
    background: #adadad;
    width: 100%;
    border: 0;
    padding: 15px;
    margin: 0.6px 0;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .auth-container .form button:hover,
  .auth-container .form button:active,
  .auth-container .form button:focus {
    background: #6e6e6e;
  }
  
  .auth-container .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  
  .auth-container .form .message a {
    color: #747474;
    text-decoration: none;
  }

  